<!--{{ form.as_ul }} -->
{% for e in form.non_field_errors %}
    <div class="alert alert-danger">{{ e }}</div>
{% endfor %}
<h2>SignUp:</h2>
<form class="form-horizontal" method="post" action="/signup/">
    {% csrf_token %}
    <fieldset>
        {% for field in form %}
            <div class="control-group {% if field.errors %}has-error{% endif %}">
                <label class="control-label">{{ field.label }}</label>
                <div class="controls">{{ field }}</div>
            </div>
        {% endfor %}
    </fieldset>
    <div class="form-actions">
        <button type="submit" class="btn-primary">SAVE</button>
    </div>
</form>